<launch>
    <!-- Parameters -->

    <!-- camera: if you want to use camera, set to true, false otherwise -->
    <arg name="camera" default="false" />

    <!-- topic: if you are using the camera, specify the topic where take it -->
    <arg name="topic" default="/usb_cam/image_raw" />

    <!-- image_path: if you want to acquire an image from disk using OpenCV, set the absolute path of that image -->
    <!-- There are tho images:
          - door_med_res.jpg: 390 x 520 pixel
          - door_high_res.jpg: 3456 x 4608 pixel
    -->
    <arg name="image_path" default="/home/michele/catkin_ws/src/ros_cuda_door_recognizer/images/test/door_med_res.jpg" />

    <!-- Number of block used to run the kernel that converts an image to gray scale -->
    <!-- Recommended values:
          - door_med_res.jpg: 300
          - door_high_res.jpg: 1024
    -->
    <arg name="linear_kernel_num_block" default="300" />

    <!-- Number of thread per block used to run the kernel that converts an image to gray scale -->
    <!-- Recommended values:
         - door_med_res.jpg: 256
         - door_high_res.jpg: 1024
    -->
    <arg name="linear_kernel_num_thread" default="256" />

    <!-- Number of block used to run the kernel that applies the gaussian filter -->
    <!-- Recommended values:
          - door_med_res.jpg: 300
          - door_high_res.jpg: 2048
    -->
    <arg name="convolution_kernel_num_block" default="300" />

    <!-- Number of thread per block used to run the kernel that applies the gaussian filter -->
    <!-- Recommended values:
          - door_med_res.jpg: 256
          - door_high_res.jpg: 1024
    -->
    <arg name="convolution_kernel_num_thread" default="256" />

    <!-- The path where to put the processed images -->
    <arg name="processed_images_path" default="/home/michele/catkin_ws/src/ros_cuda_door_recognizer/images/processed_images/" />

    <arg name="gaussian_mask_size" default="5" />

    <!-- The parameter used to calculate the gaussian kernel
         Recommended values:
          - door_med_res.jpg: 0.84
          - door_high_res.jpg: 1.4
    -->
    <arg name="gaussian_alpha" default="0.8" />

    <node pkg="ros_cuda_door_recognizer" type="test_performance" name="test_performance" output="screen">
        <param name="camera" value="$(arg camera)" />
        <param name="topic" value="$(arg topic)" />
        <param name="image_path" value="$(arg image_path)" />
        <param name="linear_kernel_num_block" value="$(arg linear_kernel_num_block)" />
        <param name="linear_kernel_num_thread" value="$(arg linear_kernel_num_thread)" />
        <param name="convolution_kernel_num_block" value="$(arg convolution_kernel_num_block)" />
        <param name="convolution_kernel_num_thread" value="$(arg convolution_kernel_num_thread)" />
        <param name="processed_images_path" value="$(arg processed_images_path)" />
        <param name="gaussian_mask_size" value="$(arg gaussian_mask_size)" />
        <param name="gaussian_alpha" value="$(arg gaussian_alpha)" />
    </node>
</launch>