<launch>
    <!-- Parameters -->

    <!-- camera: if you want to use camera, set to true, false otherwise -->
    <arg name="camera" default="false" />

    <!-- topic: if you are using the camera, specify the topic where take it -->
    <arg name="topic" default="/usb_cam/image_raw" />

    <!-- camera: if you want to acquire an image from disk usign OpenCV, set the absolute path of that image -->
    <arg name="image_path" default="" />

    <node pkg="ros_cuda_door_recognizer" type="test_performance" name="test_performance" output="screen">
        <param name="camera" value="$(arg camera)" />
        <param name="topic" value="$(arg topic)" />
        <param name="image_path" value="$(arg image_path)" />
    </node>
</launch>